@import url(fontawesome-all.min.css);

img:hover {
    border: 2px solid rgba(127, 160, 161, 0.685);
}

footer {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    background-color: rgb(4, 35, 41);
    height: 40px;
}

footer p {
    margin: 0;
    padding-top: 10px;
    color: white;
}

.nav-img {
    display: none;
}

.bg-primary {
    background-color: rgb(4, 35, 41) !important;
}

.btn-primary {
    transition: padding .2s;
}

.btn-primary:visited {
    background-color: rgba(247, 0, 247, 0.99);
}

.btn-primary:hover {
    background-color: rgb(86, 0, 247);
    padding: .9rem;
}

.navbar .navbar-brand {
    color: rgba(255, 255, 255, 0.85);
    font-size: 1rem;
}

.jumbotron {
    background-image: url('/img/jefferson-santos-9SoCnyQmkzI-unsplash.jpg');
    background-size: cover;
}

.modal.show .modal-dialog {
    justify-content: center;

}

.modal-content {
    width: 70vw;
}

#contact {
    grid-column-gap: 1px;
}

@media (min-width: 576px) {}


@media (min-width: 768px) {}


@media (min-width: 992px) {
    .proj-img {
        grid-area: img;
    }

    .proj-desc {
        padding: 0px;
        margin: 0px;
    }

    .proj-skills {
        grid-area: skills;
    }

    .navbar {
        display: grid;
        grid-template-columns: 10vw;
        grid-template-rows: 200vh;
        right: auto;
        left: auto;
        padding: 20px 0px 0px 0px;
    }

    .nav-img {
        display: block;
        border: 3px solid rgb(100, 101, 107);
        border-radius: 50%;
    }

    .nav-img img {
        width: 7vw;
        border-radius: 50%;
    }

    #navbarNavAltMarkup p {
        padding: 20px 0px 0px 0px;
    }

    .navbar .container {
        height: 70vw;
    }


    .nav-link {
        padding-bottom: 30px;
    }

    .main-content {
        padding-left: 10vw;
    }

    .jumbotron {
        padding-top: 20px;
    }

    .pos-f-t {
        text-align: center;
    }

    footer {
        position: fixed;
        bottom: 0;
        width: 10vw;
        height: 80px;
        text-align: center;
        left: 0;
        z-index: 2000;
    }
}


@media (min-width: 1200px) {}