@import url(fontawesome-all.min.css);


a:visited {
    color: rgba(247, 0, 247, 0.99);
}

a:active {
    color: rgb(0, 128, 247);
}

.navbar .navbar-brand {
    color: rgba(255, 255, 255, 0.85);
    font-size: 1rem;
}

.jumbotron {
    background-image: url('../img/jefferson-santos-9SoCnyQmkzI-unsplash.jpg');
    background-size: cover;
}

.modal.show .modal-dialog {
    justify-content: center;

}

.modal-content {
    width: 70vw;
}

#contact {
    grid-column-gap: 1px;
}

@media (min-width: 576px) {}


@media (min-width: 768px) {}


@media (min-width: 992px) {}


@media (min-width: 1200px) {

    .proj-img {
        grid-area: img;
    }

    .proj-desc {
        padding: 0px;
        margin: 20px;
    }

    .proj-skills {
        grid-area: skills;
    }
}