.navbar .navbar-brand {
    color: rgba(255, 255, 255, 0.85);
    font-size: 1rem;
}

.navbar {
    position: fixed;
    width: 20vw;
    height: 200vh;
    z-index: 1080;
    padding-left: 0px;
    left: 0;
    top: 0;
}

.main-content {
    padding-left: 20vw;
}

.jumbotron {
    background-image: url('../img/jumbo-bg.jpg');
    background-size: cover;
}

.nav-content {
    padding-left: 0px;

}